<div ng-app = "ilog-test" ng-controller = "UsuarioController as app">
    <button id="create-user" type="button" class="btn btn-primary" ng-click="app.criarUsuario()">Primary</button>
    <table class="table table-striped">
       <tr>
          <th>Nome</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th>Data admissão</th>
       </tr>
    
       <tr ng-repeat = "usuario in app.usuarios">
          <td>{{ usuario.name }}</td>
          <td>{{ usuario.address }}</td>
          <td>{{ usuario.phone }}</td>
          <td>{{ usuario.admission }}</td>
       </tr>
    </table>
</div>